<button data-audio-selector-button></button>
<ul>

  <% for (var i = 0; i < tracks.length; i++) { %>    
    <% var track = tracks[i]; %>
    
    <% if (track && track.name) { %>  
      <li>
        <a href="#" data-audio-selector-select="<%= i %>">
          <% var name = track.name.slice(0, track.name.search('"')); %>
          <%= name %>
        </a>
      </li>  
    <% }; %>
    
  <% }; %>

</ul>


var name = this.tracks[this.current].name
this.buttonElement().text(name ? name.slice(0, name.search('"')) : '');