<button data-audio-selector-button></button>
<ul>
  <% var langList = []; %>

  <% for (var i = 0; i < tracks.length; i++) { %>    

    <% var track = tracks[i]; %>
    <% var lang = track.name.split(' ')[0]; %> 
    <% lang = lang ? lang.replace('"', '') : ''; %> 
    
    <% if (track && lang && !langList.includes(lang) ) { %>  
      <% langList.push(lang); %>
      <li>
        <a href="#" data-audio-selector-select="<%= i %>">
          <%= lang %>
        </a>
      </li>  
    <% }; %>
    
  <% }; %>

</ul>
