<button data-audio-selector-button>
  Auto
</button>
<ul>
  <li data-title><%= title %></li>  <% }; %>  

  <% var langList = []; %>

  <% for (var i = 0; i < tracks.length; i++) { %>    

    <% var track = tracks[i]; %>
    <% var lang = getLangFromTrackName(track.name); %>
    
    <% if (track && lang && !langList.includes(lang) ) { %>  
      <% langList.push(lang); %>
      <li>
        <a href="#" data-audio-selector-select="<%= i %>">
          <%= lang %>
        </a>
      </li>  
    <% }; %>
    
  <% }; %>

</ul>
